<app-navbar></app-navbar>
<section class="container">
    <div class="row">
    <h3 class="center-align">CONTACTO</h3>
        <article class="col s6 offset-s3">
            <form action="http://formsubmit.co/madepato3@gmail.com" method="post">
      <input type="text" class="form-contact-input" name="nombre" placeholder="Nombre y apellido" required />
      <input type="email" class="form-contact-input" name="email" placeholder="Email" required />
      <input type="tel" class="form-contact-input" name="tel" placeholder="Telefono" />
      <textarea class="form-contact-textarea" name="contenido" placeholder="Dejenos un mensaje" required></textarea>
      <button type="submit" class="form-contact-button">Enviar</button>
            </form>

        </article>
    </div>
</section>
<app-footer></app-footer>