
  <!--<marquee alternate scrolldelay=50 direction="rigth"> <img src="../assets/imagen/novia.jpg" class="d-block w-50" alt="..."> </marquee>-->
  <div class="contenedor"> 
    <div class="cubo">
        <div class="cara">
            <img src="../assets/imagen/diadelamujer.jpg" alt="ideal para tus momentos intimos" height=290px width=290px>
        </div>
        <div class="cara">
            <img src="../assets/imagen/bata1.jpg" alt="Un poco de nieve en agosto" width="290px" height="290px">
        </div>
        <div class="cara">
            <img src="../assets/imagen/bata2.jpg"  alt="super fresca" width="290px" height="290px">
        </div>
        <div class="cara">
            <img src="../assets/imagen/novia.jpg" alt="satén bordado" width="290px" height="290px">
        </div>
        <div class="cara">
            <img src="../assets/imagen/rojayviolata.jpg" title="toalla algodon" alt="Refugio de Pantivalles" width="290px" height= "290px">
        </div>
        <div class="cara">
            <img src="../assets/imagen/rosas.jpg" alt="de algodon" width="290px" height="290px">
        </div>
        <div class="cara-fondo"></div>
        <div class="cara-fondo"></div>
        <div class="cara-fondo"></div>
        <div class="cara-fondo"></div>
        <div class="cara-fondo"></div>
        <div class="cara-fondo"></div>
        <div class="cara-fondo"></div>
        <div class="cara-fondo"></div>
    </div>
</div>
  