
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <section class="footer">
    <footer >
        <div class="footer">
         
         <!--     <a href="#top"><button type="submit" class="btn btn-close-white"><i class="fa-solid fa-arrow-turn-up"></i></button></a>
            -->
       
            <p><i class="fa fa-map-marker fa-fw w3-xxlarge w3-margin-right"></i>San Lorenzo 390 - San Miguel de Tucumán</p>
            <p><i class="fa fa-phone fa-fw w3-xxlarge w3-margin-right"></i> 39145343434</p>
            <p><i class="fa fa-envelope fa-fw w3-xxlarge w3-margin-right"> </i> faby@gmail.com</p>
          </div>
        
    </footer> 
</section>
        </div>
        <div class="col-1"></div>
    </div>
   
