
<div class="row">
<div class="col-1"></div>
<div class="col-10">
<nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" [routerLink] = "'/intro'"><img src="./assets/imagen/logo-batas-removebg-preview.png" alt="logo batas con amor" width="180"></a>
 
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page"[routerLink] = "'/intro'" href="#">Quienes Somos</a>
          </li>
          <li class="nav-item">
           <!-- <a class="nav-link" [routerLink]="['/productos']" href="#">Productos</a>-->
           <a class="nav-link" [routerLink] = "'/productos'">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink] = "'/contacto'" href="#">Contacto</a>
          </li>
          
        <li class="nav-it " ><a href="https://api.whatsapp.com/send?phone=" target="_blanK"><i class="fa-brands fa-lg fa-whatsapp fa-2x1"></i> </a>  </li>
        <li class="nav-it"><a href="http://linkedin.com/in/patricia-cayo-00a86980" target="_blanK"><i class="fa-brands fa-linkedin fa-lg fa-2x1"></i>  </a> </li>
        <li class="nav-it"> <a href="http://facebook.com/pcayo1" target="_blanK"><i class="fa-brands fa-facebook fa-lg fa-2x1"></i>  </a> </li>
          
    </ul>
    
      </div>
    </div>
  </nav>
</div>
<div class="col-1"></div>
</div>
