<div class="row">
    <div class="col-1"></div>
    <div class="col-10 quienes-somos">
       <!-- <section id="sect1" class="sect">
            <video src="./imagen/estrellas.mp4" autoplay="true" muted="true" loop="true"></video>
           --> <h1>Quienes Somos</h1>
            <br>
           <p>Somos una marca tucumana emprendedora y con estilo. Fabricamos diferentes lineas de batas con diferentes tipos de telas, entre ellas satén y toalla.
            Trabajamos solamente por encargos con seña previa, podes ver los modelos en esta web y mandarnos tus comentario o dudas, estamos para asesorarte,
            Hacemos envios a todo el país por encargos. </p> 
        <!--  </section>-->
      
</div>
<div class="col-1"></div> 
